body {
    display: flex;
    flex-direction: column;
    font-family: 'Architects Daughter', cursive;
    text-transform: capitalize;
    overflow-x: hidden;
    transform: translate3d(0, 0, 0);
    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

body > header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

body > header > div {
    display: flex;
    flex-direction: column;
}

body > header > div > h1 {
    transform: rotate(-3deg);
}

body > header > div > p {
    transform: rotate(-3deg);
}

body > header > nav > ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    align-items: center;
}

body > header > nav > ul > li {
    font-size: 1.5vw;
}

body > header > nav > ul > li + li {
    margin-left: 2vw;
}

body > header > nav > ul > li > a {
    text-decoration: none;
}

body > header > nav > ul > li > a:hover {
    filter: hue-rotate(180deg)
}