main > section:nth-of-type(3) h2 {
    font-size: 5rem;
    text-align: center;
    position: relative;
    z-index: 6;
    color: white;
    transform: rotate(-10deg) skew(-10deg, 0);
}

[data-shape="table-to-water"] {
    background-image: linear-gradient(to bottom, #966F33, #87BCD9);
    transform: rotateZ(-10deg) translateX(-18%);
    position: absolute;
    height: 206vh;
    width: 180vw;
    top: -50vh;
    left: 0;
    z-index: 0;
}

[id="egg-svg"] {
    mix-blend-mode: multiply;
    animation: shakeEgg infinite 1s ease-in-out both;
    transform-origin: center;
}

@keyframes shakeEgg {
    0%, 100% {
        transform: rotateZ(0);
    }

    33% {
        transform: rotateZ(-10deg);
    }

    66% {
        transform: rotateZ(10deg);
    }
}