main > section {
    position: relative;
}

main > section:first-of-type > h2 {
    font-size: 5rem;
    text-align: center;
    margin-top: -45vh;
    color: #ffffff;
    position: relative;
    z-index: 6;
    margin-bottom: 30vh;
    transform: rotate(-10deg) skew(-10deg, 0);
}

svg {
    max-height: 500px;
    padding-top: 40px;
    width: 90vw;
    display: block;
    position: relative;
    margin: 0 auto;
    z-index: 5;
}

i[data-shape="sky"] {
    background-image: linear-gradient(45deg, #ABCDEF, #87BCD9);
    transform: rotateZ(-10deg) translateX(-10%);
    position: absolute;
    height: 50vh;
    width: 150vw;
    top: -5vh;
    left: 0;
    z-index: 0;
}

i[data-shape="grass"] {
    background-image: linear-gradient(to bottom, #779342 0%, #445B25 27.515%, #455823 35.68%, #494E1C 42.02%, #503D10 46.5%, #53350A 50%, #261700 100%);
    transform: rotateZ(-10deg) translateX(-10%);
    position: absolute;
    height: 80vh;
    width: 150vw;
    margin-top: -10%;
    top: 50vh;
    left: 0;
    z-index: 0;
}

main > section > div {
    max-width: 80vw;
    margin: 0 auto;
    color: #ffffff;
    position: relative;
    z-index: 5;
}

main > section > div article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    transform: rotate(-10deg) skew(-10deg, 0);
}

main > section > div article + article {
    margin-top: 1rem;
}

main > section > div article h3 {
    width: 100%;
}

main > section > div article p {
    width: 90%;
}

main > section > div article div {
    width: 10%;
    text-align: end;
}