main > section:nth-of-type(2) h2 {
    font-size: 5rem;
    text-align: center;
    position: relative;
    margin-top: -43vh;
    z-index: 6;
    margin-bottom: 30vh;
    transform: rotate(-10deg) skew(-10deg, 0);
}

[class="smoke-svg"] {
    max-width: 50px;
    opacity: 0.1;
    position: absolute;
    z-index: 10;
    top: -12vh;
    left: 15%;
    transform: scaleX(1);
    animation: moveSmoke infinite both ease-in-out .5s;
}

[class="smoke-svg"]:nth-child(2) {
    left: 45%;
}

[class="smoke-svg"]:nth-child(3) {
    left: 80%;
}

[class="smoke-svg"]:nth-child(4) {
    left: 30%;
    top: -18vh;
}

[class="smoke-svg"]:nth-child(5) {
    left: 60%;
    top: -18vh;
}

@keyframes moveSmoke {
    0%, 100% {
        transform: scaleX(1);
    }

    50% {
        transform: scaleX(-1);
    }
}

[data-shape="table"] {
    background-image: linear-gradient(to bottom, #261700,#966F33);
    transform: rotateZ(-10deg) translateX(-10%);
    position: absolute;
    height: 110vh;
    width: 220vw;
    top: -25vh;
    left: 0;
    z-index: 0;
}