/* First content section */
main > section:first-child {
    background-image: linear-gradient(to bottom, #ABCDEF 0%, #87BCD9 30%, #779342 40%, #445B25 75%, #455823 85%, #494E1C 92%, #503D10 96%, #53350A 98%, #261700 100%);
}

main > section:first-child h2 {
    animation: shakeText infinite 2s both;
}

main > section:first-child svg g:first-child {
    animation: shakeTree infinite 2s both;
    transform-origin: bottom;
}

main > section:first-of-type > div > label:nth-of-type(1) > input:checked {
    counter-increment: recipes recipeCost 9;
}

main > section:first-of-type > div > label:nth-of-type(2) > input:checked {
    counter-increment: recipes recipeCost 14;
}

main > section:first-of-type > div > label:nth-of-type(3) > input:checked {
    counter-increment: recipes recipeCost 14;
}

/* Second content section */
main > section:nth-of-type(2) {
    background-image: linear-gradient(to bottom, #261700,#966F33);
}

main > section:nth-of-type(2) > header > div:first-child {
    position: absolute;
    left: 20%;
    right: 20%;
    top: 5vh;
    z-index: 5;
    opacity: 0.1;
}

main > section:nth-of-type(2) > div > label:nth-of-type(1) > input:checked {
    counter-increment: recipes recipeCost 8;
}

main > section:nth-of-type(2) > div > label:nth-of-type(2) > input:checked {
    counter-increment: recipes recipeCost 8;
}

main > section:nth-of-type(2) > div > label:nth-of-type(3) > input:checked {
    counter-increment: recipes recipeCost 8;
}

main > section:nth-of-type(2) > div > label:nth-of-type(4) > input:checked {
    counter-increment: recipes recipeCost 10;
}

svg[class="smoke-svg"] {
    transform: scaleX(1);
    animation: moveSmoke infinite both var(--animation-timing) .5s;
    max-height: 10vh;
    padding-top: 0;
    height: 10vh;
    flex: 1;
    position: absolute;
}

svg[class="smoke-svg"]:first-child {
    left: 0;
    top: 5vh;
}

svg[class="smoke-svg"]:nth-child(2) {
    left: 25%;
    top: 3vh;
}

svg[class="smoke-svg"]:nth-child(3) {
    left: 50%;
    top: 0;
}

svg[class="smoke-svg"]:nth-child(4) {
    left: 75%;
    top: 3vh;
}

svg[class="smoke-svg"]:nth-child(5) {
    left: 100%;
    top: 5vh;
}

/* Third content section */
main > section:nth-of-type(3) {
    background-image: linear-gradient(to bottom, #966F33, #87BCD9);
    perspective: 500px;
    overflow: hidden;
}

main > section:nth-of-type(3) > header {
    animation: rotateEgg infinite 2s var(--animation-timing) forwards;
    transform-origin: center;
    filter: contrast(50%);
    backface-visibility: visible;
}

main > section:nth-of-type(3) > header > h2 {
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: calc(2rem + (var(--screen-base-width) * 4));
}

main > section:nth-of-type(3) > div > label:nth-of-type(1) > input:checked {
    counter-increment: recipes recipeCost 15;
}

main > section:nth-of-type(3) > div > label:nth-of-type(2) > input:checked {
    counter-increment: recipes recipeCost 19;
}

main > section:nth-of-type(3) > div > label:nth-of-type(3) > input:checked {
    counter-increment: recipes recipeCost 12;
}

main > section:nth-of-type(3) > div > label:nth-of-type(4) > input:checked {
    counter-increment: recipes recipeCost 16;
}

main > section:nth-of-type(3) > div > label:nth-of-type(5) > input:checked {
    counter-increment: recipes recipeCost 18;
}

main > section:nth-of-type(3) > div > label:nth-of-type(6) > input:checked {
    counter-increment: recipes recipeCost 15;
}

main > section:nth-of-type(3) > div > label:nth-of-type(7) > input:checked {
    counter-increment: recipes recipeCost 180;
}